/* Variable assignment */

$main_bg: rgba(255, 255, 255, 0.4);
$text_shadow: 0 0 0.6ex rgba(0,0,0, 0.9);
$text_bg: rgba(255, 255, 255, 0.6);
$text_color: rgba(255, 255, 255, 0.8);
$link_color: $text_color;
$link_color_hover: opacify($link_color, 0.2);

/* Generic Stuff */
a {
    color: $text_color;
    text-decoration: none;

    &:hover {
        color: $link_color_hover;
    }
}


/* Font definitions */

@font-face {
    font-family: 'PressStart2P';
    src: url('fonts/PressStart2P/PressStart2P.ttf');
}


/* Layout, unique elements */

html {
    overflow: auto;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background: #000;
}

body {

    overflow: auto;
    width: 100%;
    min-height: 100%;

    color: $text_color;
    text-shadow: $text_shadow;
    margin: 0;
    padding: 0;

    font-family: 'PressStart2P', monospace;
    font-weight: lighter;
    font-size: 10pt;
}


div.frame {

    position: fixed;
    z-index: 65535;
    background: $main_bg;

    &:empty {
        display: none;
    }

    &.top,
    &.bottom {

        width: calc(100% - 15pt);
        height: 5pt;
    }

    &.left,
    &.right {

        width: 15pt;
        height: 100%;
    }

    &.top {
        top: 0;
        left: 0;

        &:empty {
            display: block;
        }
    }

    &.bottom {
        bottom: 0;
        left: 0;
    }

    &.left {
        top: 0;
        left: 0;
    }

    &.right {
        top: 0;
        right: 0;
    }

}


header {

    position: fixed;
    top: 5pt;
    left: 5pt;
    width: calc(100% - 15pt);
    height: 30pt;

    nav {

        height: 25pt;
        margin-top: 5pt;
        

        ul {

            margin: 0;
            padding: 0;
            list-style: none;
            float: left;

            li {
                display: block;
                float: left;
                margin-right: 5pt;

                a {

                    display: block;
                    box-shadow: inset 0 0 50pt $text_bg;
                    padding: 0 10pt;
                    line-height: 25pt;

                    &:hover {
                        box-shadow: inset 0 0 50pt opacify($text_bg, 0.2);
                    }
                }
            }
        }
    }
}


div#main {

    
    box-sizing: border-box;
    position: absolute;/* huehuehue */
    width: calc(100% - 25pt);
    height: calc(100% - 85pt);
    overflow-y: scroll;
    margin: 0 5pt;
    margin-bottom: 45pt;
    margin-top: 40pt;
    padding: 10pt 5pt;
    background: transparentize($main_bg, 0.1);
    box-shadow: inset 0 0 100pt $main_bg; 

    section#content {
        margin-bottom: 30pt;
        padding: 0 40pt;
    }

    section#sidebar {

    }

}


footer {

    box-sizing: border-box;
    position: fixed;
    width: calc(100% - 20pt);
    height: 30pt;
    bottom: 5pt;
    left: 5pt;
    margin: 0;

    color: $text_color;
}


div.player {

    font-size: 6pt;
    overflow: auto;

    & > * {

        display: block;
        float: left;
        height: 25pt;
        line-height: 25pt;
        margin: 0;
        padding: 0;
    }


    & div.controls {
       
        overflow: hidden; 

        &.left {
            float: left;
        }


        &.right {
            float: right;
        }


        & a.control {

            display: block;
            float: left;
            margin-right: 5pt;
            padding: 0 10pt;
            box-shadow: inset 0 0 50pt $text_bg;
            text-align: center;

            text-decoration: none;
            font-family: 'PressStart2P', monospace; /* Create icon font */
            


            &.play {

                &:hover {

                    border-color: rgba(80, 255, 150, 0.9);
                    box-shadow: inset 0 0 20pt rgba(80, 255, 150, 0.9);
                }
            }


            &.pause {


                &:hover {

                    border-color: rgba(255, 200, 80, 0.9);
                    box-shadow: inset 0 0 20pt rgba(255, 200, 80, 0.9);
                }
            }


            &.stop {


                &:hover {

                    border-color: rgba(255, 80, 80, 0.9);
                    box-shadow: inset 0 0 20pt rgba(255, 80, 80, 0.9);
                }
            }

            &.volume-down {


                &:hover {

                    border-color: rgba(80, 200, 255, 0.9);
                    box-shadow: inset 0 0 20pt rgba(80, 200, 255, 0.9);
                }
            }

            &.volume-up {


                &:hover {

                    border-color: rgba(80, 255, 200, 0.9);
                    box-shadow: inset 0 0 20pt rgba(80, 255, 200, 0.9);
                }
            }
        }
    }


    div.song {
        float: left;
        margin-left: 10pt;


        &.play {
            color: rgba(160,255,0, 0.8);
        }


        &.pause {
            color: rgba(255,180,0, 0.8);
        }


        &.stop {
            color: rgba(255,0,70, 0.8);
        }


        & span.album {

            &:before {
                content: "[";
            }


            &:after {
                content: "]";
            }
        }


        & span.artist {


            &:after {
                content: " - ";
            }
        }


        & span.volume {


            &:before {
                content: "[@";
            }


            &:after {
                content: "% vol]";
            }
        }
    }
}


/* Table styles */

table {

    width: 100%;
    border-collapse: separate;
    margin-bottom: 15pt;

    & thead:empty {
        display: none;
    }

    & tr {

        &:nth-child(even) {

            td {
                box-shadow: inset 0 0 50pt $main_bg;
            }

        }

        &:hover {

            td {
                box-shadow: inset 0 0 50pt $text_bg;
            }
        }

        td {
            margin: 0;
            padding: 0;
            border-right: 5pt solid transparent; 

            &:empty {
                display: none;
            }

            &:last-child {
                text-align: right;
            }

            * {

                display: block;
                padding: 10pt 5pt;
            }
        }
    }
}


/* Volbar */


/* Colors for volume bar and volume-themed background */

@for $i from 1 through 100 {
    .vol-#{$i}{
        $color: rgba(
            (0 + $i * 1.40),
            (140 + $i * 0.95),
            (165 - $i * 1.65),
            (0.4 + $i * 0.002)
        );
        

        background: $color;
        border-color: $color;
        color: $color;
        
        &:not(.active){
            $color: transparentize($color, 0.5);
            background: $color;
            border-color: $color;
            color: $color;
        }
    }
}
div.volbar {

    box-sizing: border-box;
    position: fixed;
    padding: 2pt;
    width: 15pt;
    height: 100%;
    left: calc(100% - 15pt);
    top: 0;
    z-index: 200;

    a.vol {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 1%;
        color: transparent;
        text-shadow: none;
    }

}
