<form method="{{ data['method'] }}" action="{{ data['action'] }}" {{ data.attributes() }}>


{% with blacklist = ['CSRFTokenField', 'SubmitField', 'HiddenField'] %}

    {% for item in data['form'] %}
        {% if item.type not in blacklist %}
            <label for="{{ item.name }}">{{ item.label }}</label>
        {% endif %}
        {{ item }}
    {% endfor %}
{% endwith %}

</form>
