<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='warpd.css') }}" />
        <title>warpd</title>
    </head>
    <body class="{{ page['classes'] }}">

        <div class="frame top">{{ page['frame']['top'].render() }}</div>

        <header>{{ page['header'].render() }}</header>

        <div class="frame left">{{ page['frame']['left'].render() }}</div>

        <div id="main">
            <section id="content">
                {{ page['content'].render() }}
            </section>

            <section id="sidebar">
                    {{ page['sidebar'].render() }}
            </section>
        </div>

        <div class="frame right">{{ page['frame']['right'].render() }}</div>

        <footer>{{ page['footer'].render() }}</footer>

        <div class="frame bottom">{{ page['frame']['bottom'].render() }}</div>

    </body>
</html>
