{% with %}

    {% set stati = {'play': 'Playing', 'stop': 'Stopped', 'pause': 'Paused' } %}

    {% set song = data['song'] %}
    {% set status = data['status'] %}
    {% set stream = data['stream'] %}

    {% set volume_down = status['volume']|int - 1 %}
    {% set volume_up = status['volume']|int + 1 %}
    {% if stream.name %}
            {% set album = stream.name %}
    {% elif song['album'] %}
        {% set album = song['album'] %}
    {% else %}
        {% set album = 'unknown' %}
    {% endif %}

    <div {{ data.attributes() }}>

        <div class="controls left">

            {% if status['state'] == 'play' %}
                <a class="control pause" href="/api/pause">Pause</a>
            {% else %}
                <a class="control play" href="/api/play">Play</a>
            {% endif %}

            {% if status['state'] != 'stop' %}
                <a class="control stop" href="/api/stop">Stop</a>
            {% endif %}

        </div>

        <div class="song {{ status['state'] }}">
            <span class="album">{{ album }}</span>
            <span class="artist">{{ song['artist'] }}</span>
            <span class="title">{{ song['title'] }}</span>
            <span class="volume">{{ status['volume'] }}</span>
        </div>


        <div class="controls right">

            <a class="control volume-down" href="/api/setvol?vol={{ volume_down }}&duration=0">Volume down</a>
            <a class="control volume-up" href="/api/setvol?vol={{ volume_up }}&duration=0">Volume up</a>
            

    </div>

{% endwith %}
