<table {{ data.attributes() }}>
    {% if data['header']|length > 0 %}
        <thead>
        {% for item in data['header'] %}
            <th>{{ item.render }}</th>
        {% endfor %}
        <thead>
    {% endif %}

    <tbody>
    {% for row in data['rows'] %}
        <tr>
        {% for item in row %}
            <td>{{ item.render() }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
